.calendar-month {
  width: 296px;
  height: 296px;
  display: flex;
  flex-direction: column;
  position: absolute;
  .calendar-title {
    flex: 25%;
    display: flex;
    flex-direction: column;
    .navigator-container {
      background: red;
      color: white;
      font-size: 130%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex: 40;
      .move-month {
        cursor: pointer;
      }
      .navigator {
        width: 50%;
        display: flex;
        justify-content: space-between;
        font-size: 30px;
      }
    }
  }
  .weeks-container {
    flex: 80%;
    display: flex;
    flex-direction: column;
    .daysOfWeek {
      flex: 0.7;
      display: flex;
      flex-direction: row;
    }
    .week {
      flex: 1;
      display: flex;
      flex-direction: row;
    }
    .day {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 30px;
      background: white;
      color: black;
      &:not(.currentMonth) {
        color: red;
      }

      &.title {
        color: black;
        background: gray;
      }
      &:not(.title) {
        &:hover {
          background: lightblue;
          border-radius: 50%;
          cursor: pointer;
        }
      }
    }
  }

}

i {
  border: solid black;
  display: inline-block;
  border-width: 0 7px 7px 0;
  padding: 50%;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}