.calendar-month {
  --lastDegree: 5deg
}

@keyframes flipAnimation {
  10% {
    z-index: 10000;
    transform: skew(-3deg) rotateX(-30deg) translateZ(0);
  }
  20% {
    z-index: 10000;
    transform: skew(-3deg) rotateX(-60deg) translateZ(0);
  }
  30% {
    z-index: 10000;
    transform: skew(-3deg) rotateX(-90deg) translateZ(0);
  }
  40% {
    z-index: 10000;
    transform: skew(-3deg) rotateX(-120deg) translateZ(0);
  }
  50% {
    z-index: 10000;
    transform: skew(-3deg) rotateX(-150deg) translateZ(0);
  }
  55% {
    z-index: 9997;
    transform: skew(-3deg) rotateX(-180deg) translateZ(0);
  }
  60% {
    z-index: 9997;
    transform: skew(-3deg) rotateX(-150deg) translateZ(0);
  }
  70% {
    z-index: 9997;
    transform: skew(-3deg) rotateX(-120deg) translateZ(0);
  }
  80% {
    z-index: 9997;
    transform: skew(-3deg) rotateX(-90deg) translateZ(0);
  }
  90% {
    z-index: 9997;
    transform: skew(-3deg) rotateX(-60deg) translateZ(0);
  }
  95% {
    z-index: 9997;
    transform: skew(0deg) rotateX(-30deg) translateZ(0);
  }
  100% {
    z-index: 9997;
    transform: skew(var(--lastDegree)) rotateX(0deg) translateZ(0);
  }
}

@keyframes flipAnimationBack {
  10% {
    z-index: 9997;
    transform: skew(var(--lastDegree)) rotateX(0deg) translateZ(0);
  }
  20% {
    z-index: 9997;
    transform: skew(var(--lastDegree)) rotateX(-30deg) translateZ(0);
  }
  30% {
    z-index: 9997;
    transform: skew(var(--lastDegree)) rotateX(-60deg) translateZ(0);
  }
  40% {
    z-index: 9997;
    transform: skew(var(--lastDegree)) rotateX(-90deg) translateZ(0);
  }
  50% {
    z-index: 9997;
    transform: skew(0deg) rotateX(-120deg) translateZ(0);
  }
  55% {
    z-index: 9997;
    transform: skew(0deg) rotateX(-150deg) translateZ(0);
  }
  60% {
    z-index: 9997;
    transform: skew(0deg) rotateX(-180deg) translateZ(0);
  }
  70% {
    z-index: 10000;
    transform: skew(0deg) rotateX(-150deg) translateZ(0);
  }
  80% {
    z-index: 10000;
    transform: skew(0deg) rotateX(-120deg) translateZ(0);
  }
  90% {
    z-index: 10000;
    transform: skew(0deg) rotateX(-90deg) translateZ(0);
  }
  95% {
    z-index: 10000;
    transform: skew(0deg) rotateX(-60deg) translateZ(0);
  }
  100% {
    z-index: 10000;
    transform: skew(0deg) rotateX(0deg) translateZ(0);
  }
}

.calendar-month {
  width: 296px;
  height: 350px;
  display: flex;
  background: white;
  flex-direction: column;
  position: absolute;
  transform-style: preserve-3d;
  transform-origin: top;
  transform: rotateX(0deg) skew(0deg) translateZ(0);
  z-index: 9999;
  margin-left: 2px;
  border: 2px solid darkgrey;
  border-radius: 5px;
  &.fliped-front {
    animation: flipAnimation 1s linear both;
  }
  &.fliped-back {
    animation: flipAnimationBack 1s linear both;
  }
  .calendar-title {
    flex: 25%;
    display: flex;
    flex-direction: column;
    .navigator-container {
      background: red;
      color: white;
      font-size: 130%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex: 40;
      .move-month {
        cursor: pointer;
        border: none;
        background: transparent;
        outline: none;
      }
      .navigator {
        width: 50%;
        display: flex;
        justify-content: space-between;
        font-size: 30px;
      }
    }
  }
  .weeks-container {
    flex: 80%;
    display: flex;
    flex-direction: column;
    .daysOfWeek {
      flex: 0.7;
      display: flex;
      flex-direction: row;
    }
    .week {
      flex: 1;
      display: flex;
      flex-direction: row;
    }
    .day {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 30px;
      background: white;
      font-weight: bold;
      color: black;
      &.title {
        color: black;
        background: gray;
      }
      &:not(.title) {
        margin: 2px;
        &:not(.disable) {
          &.currentMonth {
            &:hover {
              background: lightblue;
              border-radius: 50%;
              cursor: pointer;
            }
          }
          &.selected {
            cursor: pointer;
            border-radius: 50%;
            background: #0054A5;
            color: #fff;
            font-size: larger;
          }
        }
        &:not(.currentMonth) {
          color: red;
        }
        &.disable {
          border-radius: 50%;
          background: #d1d1d1;
        }
      }
    }
  }

}

i {
  border: solid black;
  display: inline-block;
  border-width: 0 7px 7px 0;
  padding: 50%;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}