.date-picker {
  width: 200px;
  display: flex;
  align-items: center;
  position: relative;
  .result-conatiner {
    flex: 1;
    display: flex;
    cursor: pointer;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 3px;
    height: 34px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    .icon-container {
      flex: 10%;
    }
    .icon-container-small {
      flex: 0%;
    }
    .selected-date-container {
      flex: 45%;
      font-weight: bold;
      font-size: 22px;
      &.empty {
        flex: 90%;
      }
    }
  }
  .flicker-conatiner {
    position: absolute;
    top: 55px;
    .stand {
      display: flex;
      border: 2px solid darkgrey;
      border-radius: 5px;
      position: absolute;
      width: 296px;
      height: 350px;

      &.front {
        z-index: 9999;
        transform: skew(0deg);
        background: white;
      }
      &.back {
        background: lightgray;
        position: absolute;
        z-index: 9998;
        transform: skew(1deg);
        margin-left: 4px;
        width: 296px;
        height: 350px;
      }
    }
    .pins {
      display: flex;
      justify-content: space-between;
      position: absolute;
      z-index: 10000;
      width: 296px;
      margin-top: -12px;
      margin-left: 4px;

      .pin {
        display: flex;
        flex-direction: row;
        div {
          width: 4px;
          border-radius: 100%;
          border: 2px solid lightgray;
          height: 25px;
        }
      }
    }
    @import "../calendar-month/calendar-month.scss";
  }
  .input-container {
    flex: 1;
    input {
      font-size: 25px;
      font-weight: bold;
      width: 140px;
    }
  }

}