.date-picker {
  display: flex;
  .calendar-pages {
    display: flex;
    margin-left: -10px;
    .page {
      background: silver;
      width: 1.5px;
      margin-left: 1px;
      transform: rotate(-4deg);
      z-index: -1;
    }
  }
}